body{background-color:peech;}
ul li a{
font-family: arial;
color: white;
}
h1{
color: brown;
font-family:sans-serif;

}
p{
font-family: arial;
color: black;}
h4{
font-family: arial;
color: pink;}


